*.pyc
__pycache__
node_modules
.coverage
.pytest_cache
.mypy_cache
.cache
/blender_fund/settings.py

/static/
/webstatic/
/media/
/templates/**/*.html
/docker/deploy/

/https/stunnel.cert
/https/stunnel.key
/https/stunnel.pem
